@{ 
    ViewBag.Title = "Kontakt";
}

<div class="view-contact">
    <div class="container">
        <div class="row", style="margin-top:5%;">
            <div class="col-md-6">
                <div class="description">
                    <h2><img src="~/images/icon-contact.png" /> Kontaktirajte nas!</h2>
                    <hr>
                    <p class="lead">Ukoliko u bazi nemamo neku reciklažnu lokaciju, javi nam se.
                    </p>
                </div>
            </div>

            <div class="col-md-6" style="margin-bottom:18%;margin-top:5%;">
                <div class="card" style="border-radius:25px;margin-bottom:40%; padding:5%;">
                    <div class="card-block">
                        <div class="text-center">
                            <h3><img src="~/images/icon-mail.png" />Piši nam:</h3>
                            
                        </div>
                        <hr>
                        <div>
                            <div class="separated" >
                             <img src="~/images/icon-phone.png" /> +38161111111
                            </div>
                            <div class="separated" ><img src="~/images/icon-email.png" /> reciklaza.srbija@gmail.com</div>
                            <div class="separated" ><img src="~/images/icon-city.png" /> Davida Davidovica 6, Novi Sad</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
