@{
    ViewBag.Title = "Početna";
}

<div id="view-index">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="description">
                    <h1><img src="~/images/icon-recycle.png" /> Reciklažna mesta </h1>
                    <hr align="left" width="30%" />
                    <p class="lead">Sve lokacije na jednom mestu.</p>
                    <a href="/ReciklaznoMesto/Index" class="btn btn-default">Pogledaj lokacije</a>
                </div>
            </div>
        </div>

        <div class="row" style="margin-bottom:15%;">
            <div class="col-lg-12">
                <div class="description" id="contactText">
                    <h1><img src="~/images/icon-truck.png" /> Kontaktiraj nas</h1>
                    <hr align="left" width="30%" />
                    <p class="lead">Ukoliko nemamo neku lokaciju,<br />obavesti nas.</p>
                    <a href="/Home/Contact" class="btn btn-default">Odvedi me tamo</a>
                </div>
            </div>
        </div>
    </div>
</div>